<% url = post.persisted? ? post_url(post) : posts_url%>
<% method = post.persisted? ? "patch" : "post"%>

<form action=" <%= url %> " method="post">
<input type="hidden" name="_method" value="<%= method %>">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<input type="hidden" name="post[sub_id]" value="<%= params[:sub_id] %>">

<label>Post Title<input type="text" name="post[title]" value=" <%= @post.title %>"></label><br>
<label>Optional URL<input type="text" name="post[url]" value=" <%= @post.url %>"></label><br>
<label>Content<br><textarea name="post[content]" rows="8" cols="40"><%= @post.content %></textarea></label><br>
<input type="submit">
</form>
